.ProjectCard {
    width: 25%;
    margin: 1%;
    padding: 30px;
    border-radius: 8px;
    position: relative;
    transition: .3s all;
    box-shadow: 0 2px 5px 0 rgba(3,6,26,0.15);
}
.ProjectCard:nth-of-type(1), .ProjectCard:nth-of-type(5){
    background: #f78888;
    color: white;
}
.ProjectCard:nth-of-type(2), .ProjectCard:nth-of-type(6){
    background: #edbb4d;
    color: white;
}
.ProjectCard:nth-of-type(3), .ProjectCard:nth-of-type(4){
    background: #5da2d5;
    color: white;
}
.ProjectCard:hover {
    transform: scale(1.05);
}
    
.ProjectCard h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
}
.ProjectCard p {
    margin-bottom: 60px;
}

@media screen and (max-width: 1240px) {
    .ProjectCard {
    width: 48%;
    }
}
@media screen and (max-width: 820px) {
    .ProjectCard {
        width: 98%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
}
.ProjectCard .button {
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 14px;
    color: white;
    background: rgba(0,0,0,.2);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10000px;
    transition: .3s all;
    width: 94px;
    text-align: center;
}
.ProjectCard .button:nth-of-type(2) {
    left: 175px;
}
.ProjectCard .button:hover {
    background: rgba(255,255,255,.8);
    color: #2e2e2e;
}

