.Hero {
    height: 100vh;
    background-image: url(cactus-yellow.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    border-bottom: 3px solid #333333;
    box-shadow: 0 4px 7px -2px #333333;;
}
.Hero h1 {
    font-size: 42px;
}
.Hero h2 {
    font-size: 36px;
}