.Hero {
    height: 100vh;
    background-image: url(cactus-yellow.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}