#welcomeText
    width: 250px
    text-align: center
    background-color: rgba(230, 138, 0,.8)
    padding: 10px 5px
    margin: 15px 30px
    position: relative
    top: -50px
    left: 20%
    h1
        font-size: 24px
        padding-bottom: 10px
    h2
        font-size: 18px
#welcomeImg
    max-width: 75%
    padding-left: 25px
main
    #skills
        background-color: rgba(230, 138, 0,.8)
        margin-bottom: 30px
        img
            max-width: 85%
            padding: 10px
        article
            height: 380px
#skills
    .artContent
        background-color: rgba(255, 255, 255,.8)
        margin: 20px
        padding: 10px
        position: relative
        top: -85px
#projects
    .artContent
        background-color: rgba(230, 138, 0,.8)
#contact
    
        margin: 20px
        padding: 10px
        position: relative
        top: -85px