* {
  margin: 0;
  padding: 0; }

img {
  width: 100%;
  height: auto; }

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px; }

a {
  text-decoration: none;
  color: #4d4dff; }
  a:visited {
    color: #4d4dff; }
  a:hover {
    text-decoration: underline;
    color: #0033cc; }
  a:active {
    text-decoration: underline;
    color: #0033cc; }

p {
  line-height: 150%; }

* {
  padding: 0;
  margin: 0; }

body {
  max-width: 960px;
  margin: 0 auto;
  background-image: url(../images/bgImg-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; }

header {
  background: rgba(153, 204, 255, 0.9);
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  margin: 20px; }
  header h1 {
    font-size: 3em; }
  header h2 {
    font-family: "Kaushan Script", cursive;
    font-size: 1.75em; }

#about article {
  margin: 10px; }
  #about article p {
    padding: 10px; }

.open {
  border-bottom: 1px solid black; }

main h1 {
  font-size: 1.75em;
  text-align: center;
  padding: 10px;
  margin: 0 10px; }

.hoverImg1, .hoverImg2 {
  display: none; }

#sec1, #sec2, #sec3, #sec4 {
  background: rgba(153, 204, 255, 0.9);
  margin: 20px 20px; }

.threeCols, .twoCols, .oneCol {
  margin: 10px; }
  .threeCols h3, .twoCols h3, .oneCol h3 {
    padding: 5px;
    text-align: center; }
  .threeCols p, .twoCols p, .oneCol p {
    padding: 10px; }

#contact {
  text-align: center;
  background: rgba(153, 204, 255, 0.8); }

footer #footerFlex {
  display: flex;
  justify-content: center; }
footer i {
  font-size: 35px;
  color: black;
  padding: 10px; }

.fa-chevron-down {
  font-size: 25px;
  margin-left: 5px; }

.fa-chevron-up {
  font-size: 25px;
  margin-left: 5px; }

@media screen and (min-width: 500px) {
  main h1 {
    text-align: left; } }
@media screen and (min-width: 700px) {
  #skills {
    display: flex; }
    #skills .threeCols {
      flex: 1; }

  #projects {
    display: flex; }
    #projects .twoCols {
      flex: 1; }

  header {
    padding: 50px; }
    header h1 {
      font-size: 3.75em; }
    header h2 {
      font-size: 2.5em; } }
@media screen and (min-width: 900px) {
  header h1 {
    font-size: 4.5em; }
  header h2 {
    font-size: 3em; }

  #about article p {
    padding: 10px 50px 20px; }

  #skills img {
    transition: all 0.2s ease-in-out; }
    #skills img:hover {
      transform: scale(1.1); }

  #projects .hoverImg1, #projects .hoverImg2 {
    color: black;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    width: 75px;
    text-align: center;
    padding: 10px;
    border-radius: 5px; }
    #projects .hoverImg1:hover, #projects .hoverImg2:hover {
      font-weigsht: 800; }
  #projects .hoverImg1 {
    position: absolute;
    top: 1345px;
    left: 355px; }
  #projects .hoverImg2 {
    position: absolute;
    top: 1345px;
    left: 815px; }

  footer i {
    transition: all 0.1s ease-in-out; }
    footer i:hover {
      transform: scale(1.1);
      color: #99ccff; } }
footer {
  text-align: center;
  margin: 50px; }

/*# sourceMappingURL=main.css.map */
