* {
  margin: 0;
  padding: 0; }

img {
  width: 100%;
  height: auto; }

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px; }

a {
  text-decoration: none;
  color: #4d4dff; }
  a:visited {
    color: #4d4dff; }
  a:hover {
    text-decoration: underline;
    color: #0033cc; }
  a:active {
    text-decoration: underline;
    color: #0033cc; }

p {
  line-height: 150%; }

* {
  padding: 0;
  margin: 0; }

body {
  max-width: 960px;
  margin: 0 auto;
  background-image: url(../images/bgImg-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; }

header {
  background: rgba(153, 204, 255, 0.9);
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  margin: 20px; }
  header h1 {
    font-size: 3em; }
  header h2 {
    font-family: "Kaushan Script", cursive;
    font-size: 1.75em; }

#about article {
  margin: 10px; }
  #about article p {
    padding: 10px; }

.open {
  border-bottom: 1px solid black; }

.hidden {
  display: none; }

main h1 {
  font-size: 1.75em;
  text-align: center;
  padding: 10px;
  margin: 0 10px; }

#sec1, #sec2, #sec3, #sec4 {
  background: rgba(153, 204, 255, 0.9);
  margin: 20px 20px; }

.threeCols, .twoCols, .oneCol {
  margin: 10px; }
  .threeCols h3, .twoCols h3, .oneCol h3 {
    padding: 5px;
    text-align: center; }
  .threeCols p, .twoCols p, .oneCol p {
    padding: 10px; }

#contact {
  text-align: center;
  background: rgba(153, 204, 255, 0.9); }

footer {
  text-align: center;
  margin: 50px; }
  footer #footerFlex {
    display: flex;
    justify-content: center; }
  footer i {
    font-size: 35px;
    color: black;
    padding: 10px; }

.fa-chevron-down, .fa-chevron-up {
  font-size: 25px;
  margin-left: 5px; }

@media screen and (min-width: 500px) {
  main h1 {
    text-align: left; } }
@media screen and (min-width: 700px) {
  #skills, #projects {
    display: flex; }
    #skills .threeCols, #projects .threeCols {
      flex: 1; }

  header {
    padding: 50px; }
    header h1 {
      font-size: 3.75em; }
    header h2 {
      font-size: 2.5em; } }
@media screen and (min-width: 900px) {
  header h1 {
    font-size: 4.5em; }
  header h2 {
    font-size: 3em; }

  #about article p {
    padding: 10px 50px 20px; }

  .imgBtn {
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center; }
    .imgBtn .mask {
      position: absolute;
      overflow: hidden;
      top: 125px;
      left: 185px;
      background-color: #fff;
      border-radius: 5px;
      padding: 15px;
      transition: 0.3;
      opacity: 0;
      width: 50px; }
      .imgBtn .mask a {
        font-size: 20px; }
    .imgBtn img {
      display: block;
      position: relative; }
    .imgBtn:hover img {
      opacity: 0.8; }
    .imgBtn:hover .mask {
      opacity: 1; }
      .imgBtn:hover .mask a {
        text-transform: uppercase;
        text-decoration: none;
        color: black; }

  footer i {
    transition: all 0.1s ease-in-out; }
    footer i:hover {
      transform: scale(1.1);
      color: #99ccff; } }

/*# sourceMappingURL=main.css.map */
